In [93]:
import numpy as np
import pandas as pd
from sklearn import linear_model
# from sklearn.metrics import 
from sklearn.model_selection import train_test_split

In [94]:
df = pd.read_csv('HousingData.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [95]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [96]:
df.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [98]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [99]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [100]:
df['CRIM'].fillna(method='bfill', inplace=True)
df['ZN'].fillna(method='bfill', inplace=True)
df['INDUS'].fillna(method='bfill', inplace=True)
df['CHAS'].fillna(method='bfill', inplace=True)
df['LSTAT'].fillna(method='bfill', inplace=True)

In [101]:
df.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [102]:
mean = df['AGE'].mean()
df['AGE'].fillna(mean, inplace=True)

In [103]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.21,36.2

In [104]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [105]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [106]:
df['AGE'] = df['AGE'].astype('int64')

In [107]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE          int64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [108]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54,6.0622,3,222,18.7,396.90,5.21,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69,2.4786,1,273,21.0,391.99,9.08,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,68,2.5050,1,273,21.0,396.90,7.88,11.9

In [109]:
x = df.drop(['MEDV'], axis=1)
y = df['MEDV']

In [110]:
x.shape

(506, 13)

In [111]:
x.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [112]:
y.shape

(506,)

In [113]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=44)

In [114]:
x_train.shape

(354, 13)

In [115]:
y_train.shape

(354,)

In [116]:
x_test.shape

(152, 13)

In [117]:
y_test.shape

(152,)

In [118]:
m = linear_model.LinearRegression()
m.fit(x_train, y_train)

LinearRegression()

In [119]:
predicted = m.predict(x_test)

In [120]:
predicted

array([17.80117762, 25.32795567, 21.79654437, 36.53103669, 13.35389727,
       32.46026007, 20.1374945 , 24.7500077 , 31.1265918 , 21.78612339,
       22.92185276, 20.84415898, 18.25388396, 26.11621456, 29.74614331,
        7.48026091, 21.254346  , 23.47871737, 13.16572756, 20.32231435,
       30.48969029, 27.40534617, 36.07659412, 26.99003164, 16.64455416,
       19.32597585, -3.19832607, 17.03074336, 19.27694911, 34.54122889,
       19.80965333, 18.15491647, 16.0995219 , 14.93446213, 20.19080403,
       19.12631711, 15.52396101, 33.59204187, 28.21766282, 27.93810049,
       20.99886362, 17.50232226, 33.32313026, 22.22728017, 16.95880818,
       11.8512346 , 37.83949189, 30.90107792,  9.05197469, 19.75035047,
       30.19123714, 21.22046566, 17.0580705 , 13.60795775, 27.73508145,
       16.91286279, 35.61045451, 42.79566665, 12.06321333, 20.28543053,
       10.18405702, 14.95275801, 13.53194683, 21.30624168, 25.18272572,
       22.02544376, 29.21209786, 23.74702628, 34.30602088, 25.67029159,
       15.17948   , 11.58059781, 37.37328352, 19.32511373, 20.99722445,
       16.90293981, 17.46378161, 35.93679524, 27.4104141 ,  8.9804168 ,
       21.72028638, 19.07182794, 21.11462085, 32.88826734, 19.51030183,
       21.01766401, 18.7527506 , 24.23414096, 27.58241026,  7.52667803,
       24.42740304, 19.08625837, 25.14840724, 13.69268439, 18.66202864,
       24.11217181, 43.82458804, 25.52382615, 15.46031246, 25.34787722,
       29.21134265, 17.49015965, 23.24548568, 11.62361437, 23.24154555,
       24.50784518, 20.94730455, 27.58185471, 19.14504755, 17.79356641,
       32.19851141, 23.0258487 , 34.53741318, 31.69070744, 31.19080083,
       20.6633565 , 27.12545256, 34.99488495,  8.4943673 , 18.90785813,
       39.37691311, 24.4250936 , 18.86901602, 23.49722841, 24.21562108,
       30.70475703, 23.97646313, 17.23611042, 23.4282401 , 24.41997077,
       19.28367391, 26.01715892, 20.71477431, 21.37898674, 15.55920047,
       23.34414721, 36.0989859 , 29.49459517, 14.41865478, 12.10266617,
       18.52082454, 18.2492206 , 19.07529018, 39.16611059, 24.20361843,
       27.24309612, 27.8555409 , 23.74375018, 36.55647104, 26.85018175,
       18.94784044, 15.44862083])

In [121]:
y_test

316    17.8
218    21.5
485    21.2
274    32.4
427    10.9
       ...
254    21.9
232    41.7
289    24.8
15     19.9
365    27.5
Name: MEDV, Length: 152, dtype: float64

In [122]:
MSE = round(np.mean((predicted-y_test)**2), 2)
MSE

22.62

In [123]:
from sklearn.metrics import mean_squared_error
print(round(mean_squared_error(y_test, predicted)), 2)

23 2

In [124]:
train_score = m.score(x_train,y_train)
print("R-Squared on Training data:", train_score) # how well the model fix to this dataset

R-Squared on Training data: 0.7245456496612848